/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Mm]emoryCaptures/
/[Ll]ogs/
/[Vv][Ss][Cc]ode/
.vs/
.gradle/
ExportedObj/
.plastic/
DerivedData/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
# Large Unity demo/import files
*.unitypackage
Assets/Kimede/Time Ghost URP Conversion/
Assets/Realistic_Bed/HDRI/
